body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.recipe-image-details {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border: 2px solid rgb(31, 75, 75);
  border-radius: 20px;
  display: block;
  margin-bottom: 15px;
}